.div {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-uIYN0VSG1rDvgFvEWI0l4NMP8vjbjefNEw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  margin: auto;
  padding: 3rem;
  color: white;
  margin-top: 5rem;
  border-radius: 10px;
}

.input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  outline: none;
  border-radius: 0 !important;
  color: white !important;
  font-weight: bolder !important;
}
::placeholder {
  color: rgb(245, 177, 177) !important;
  font-size: 10px;
}
.btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
  border-radius: 5px;
  font-size: 1.5rem;
}

.btn:hover {
  scale: 1.2;
}
